# Ignore files in the frontend directory
/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/.next
/frontend/build

# Ignore files in the backend directory
/backend/node_modules/
/backend/.env
/backend/build
/backend/logs/
/backend/tmp/

# Ignore files in the smart contract directory
/smart-contract/dist-newstyle/
/smart-contract/build/
/smart-contract/.env
/smart-contract/cache/